:root {
    --accent-color: #4D5AE5;
    --main-text-color: #2E2F42;
    --secondary-text-color: #ffffff;
}

body {
    font-family: 'Roboto','Raleway', sans-serif;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
}

.link {
    text-decoration: none;
}

.list {
    list-style-type: none;
}

ul {
    list-style-type: none;
}
.header-logo {
    color: var(--main-text-color);
    font-size: 18px;
    font-weight: 800;
    line-height: 1.17;
    letter-spacing: 0.03em; 
    font-family: Raleway;}

.header-logo-accent {
    color: var(--accent-color);
        }

.header-menu-link {
    color: var(--main-text-color);
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;  }     

.header-socials-item {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.hero {
    background-color: var(--main-text-color);}

.hero-title {
    color: var(--secondary-text-color);
    font-size: 56px;
    font-weight: 700;
    line-height: 1.07;
    letter-spacing: 0.02em;
}
.hero-btn {
    color: var(--secondary-text-color);
    font-size: 16px;
    font-weight: 500;
    background-color: var(--accent-color);
    cursor: pointer;
    width: 169px;
    height: 56px;
}
.advantages-subtitle {
    color: var(--main-text-color);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em}

.advantages-item-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-title {
    color: var(--main-text-color);
    font-size: 36px;
    font-weight: 700;
    line-height: 1.11;
    letter-spacing: 0.02em;

}
.team-subtitle {
    color: var(--main-text-color);
    font-size: 20px;
    font-weight: 500;
    letter-spacing: 0.02em
}

.team-item-text {
    color: #434455;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.footer {
    background-color: var(--main-text-color);
    width: 1440px;
    height: 312px;
}
.footer-main-text {
    color: #F4F4FD;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5px;
    letter-spacing: 0.02em;

}
.footer-logo-accent {
    color: #F4F4FD;
}
.button-all{
    color: var(--secondary-text-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #404BBF;
    width: 69px;
    height: 48px;
}
.button-another {
    color: var(--accent-color);
    text-align: center;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    background-color: #F4F4FD;
    height: 48px;
}